<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login | LIMBY</title>
    <meta name="description" content="LIMBY 2: Brid health monitor web application." />
    <meta name="keywords" content="limby,bird health,bird weight,bird health monitor,bird weight monitor" />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  </head>
  
  <body>
    <% if (err){ %>
      <script>
        toastr.warning(`<%=err%>`); 
      </script>
    <% } %>
    <% if (msg){ %>
      <script>
        toastr.success(`<%=msg%>`); 
      </script>
    <% } %>
	<div class="title"><h1>Smart Perch Login</h1></div>
	
	<div class="container">
		<div class="left"></div>
		<div class="right">
			<div class="formBox">
				<form action="/login" method="post">
				  <div>
					<b>Email:</b> <input type="text" name="email" placeholder="Email">
				  </div>

				  <div>
					<b>Password:</b> <input type="password" name="password" placeholder="******">
				  </div>

          <button type="submit">Login</button>
          
          <div class="rememberMe">
            <input type="checkbox" name="remember">
            <span>Remember Me</span>
          </div>          
				</form>
				<div><p>Don't have an account? <a href="/register">Sign up</a><p></div>
			</div>
		</div>
	</div>
	
	
  </body>
</html>
