<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  </head>
  <body>
    <% if (err){ %>
      <script>
        toastr.warning(`<%=err%>`); 
      </script>
    <% } %>
    <form action="/login" method="post">
      <div>
        Email: <input type="text" name="email">
      </div>

      <div>
        Password: <input type="password" name="password">
      </div>

      <button type="submit">Login</button>
    </form>

    <form action="/register" method="get">
      <button type="submit">Register</button>
    </form>
  </body>
</html>
